.header {
  height: var(--header-height);
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0 var(--spacing-normal); /* side padding */
}

.logo {
  height: 80px;
  width: auto;
}
