.about {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--spacing-normal);
  padding: var(--spacing-normal) 0; /* top-bottom padding */
}

.icon {
  display: flex;
  justify-content: center;
  gap: var(--spacing-large);
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
    padding: var(--spacing-large);
  }

  .icon {
    display: none;
  }
}
