.gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: var(--spacing-normal);
}

.image {
  height: 250px;
  width: auto;
  flex-shrink: 0;
  display: block;
}
